<%- include('../partials/header') %>
<main>
  <div class="dashboard">
    <h2>Add Task</h2>

    <form action="/tasks/create" method="POST">
      <label for="date">Date:</label>
      <input type="date" name="date" />
      <label for="task">Task:</label
      ><textarea
        name="task"
        rows="15"
        cols="25"
        placeholder="Enter task"
      ></textarea>
      <label for="category">Type:</label>
      <select name="category">
        <option value=""></option>
        <option value="Work">Work</option>
        <option value="Study">Study</option>
        <option value="Sport">Sport</option>
        <option value="House">House</option>
        <option value="Car">Car</option>
        <option value="BMC">BMC</option>
        <option value="Financial">Financial</option>
        <option value="Health">Health</option>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
        <option value="fun">Fun</option>
        <option value="Occasion">Occasion</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit">
        &nbsp;Add Task&nbsp;<i class="fa fa-plus">&nbsp;</i>
      </button>
    </form>
    <p class="error"><%= message %></p>
  </div>
</main>
<%- include('../partials/footer') %>
